@import ./_variables
@import ./_reboot
@import ./_container

// MIXINS
@mixin adaptive-font-promo-title()
    font-size: calc($minFontPromoTitle + $difMaxMinFontPromoTitle * ((100vw - $minRes) / $difMaxMinRes))     
@mixin adaptive-font-subtitle()
    font-size: calc($minFontSubtitle + $difMaxMinFontSubtitle * ((100vw - $minRes) / $difMaxMinRes))
@mixin adaptive-font-title()
    font-size: calc($minFontTitle + $difMaxMinFontTitle * ((100vw - $minRes) / $difMaxMinRes))     
@mixin adaptive-section-img-mobile()
    max-height: calc($minHeightImgMob + $difMaxMinHeightImgMob* ((100vw - $minRes) / $difMaxMinRes))  
@mixin adaptive-section-desc()
    max-width: calc($minWidthDesc + $difMaxMinWidthDesc* ((100vw - $minRes) / $difMaxMinRes))  
// BLOCKS START

.popup
    display: flex
    position: fixed
    left: -100%
    top: 0
    width: 100%
    height: 100%
    z-index: 1
    transition: 300ms all
    background: #fff
    &__content
        padding: 170px 15px 70px 15px
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        gap: 30px
        overflow: auto
        .header__menu
            display: none
    &__menu
        margin: 0 0 40px 0
    &__list
        display: flex
        flex-direction: column
        align-items: center
        gap: 40px
    &__link
        padding: 10px
        font-weight: 500
        text-transform: uppercase
        transition: 300ms color
        outline: none
        &:hover, &:focus
            color: $support-color
    &__btns
        display: flex
        align-items: center
        gap: 20px
@media( max-width: 992px )
    .popup
        &__menu
            margin: 0 0 30px 0
        &__link
            font-size: 18px
        &__btns
            gap: 10px
            .btn
                width: 245px
                height: 65px
                font-size: 18px
@media( max-width: 768px )
    .popup
        &__content
            .header__menu
                display: flex
            .header__list
                display: flex
                flex-direction: column
                align-items: center
                gap: 12px
            .header__link
                padding: 10px
                font-size: 18px
                display: block
                text-transform: uppercase
                font-weight: 500
                outline: none
                transition: 300ms color
                &:hover, &:focus
                    color: $support-color
        &__menu
            margin: 0 0 10px 0
        &__item
            gap: 12px
        &__btns
            padding: 40px 0
            border-top: 1px solid $main-color
            border-bottom: 1px solid $main-color
@media( max-width: 576px )
    .popup
        &__content
            padding: 150px 15px 70px 15px
        &__btns
            flex-direction: column
.show        
    left: 0
.label
    font-size: 24px
    line-height: 2.29
    font-weight: 600
    color: $secondary-color
    text-transform: uppercase
@media ( max-width: 992px )
    .label
        font-size: 20px
@media ( max-width: 576px )
    .label
        margin: 0 0 12px 0
        font-size: 16px
.btn
    width: 265px
    height: 85px
    color: $btn-color-text
    background: $main-color
    font-weight: 600
    text-align: center
    transition: 300ms all
    outline: none
    &:hover, &:focus
        background: transparent
        color: $main-color
        border: 2px solid $main-color
@media ( max-width: 576px)
    .btn
        width: 235px
        height: 75px
        font-size: 16px
.title_sm
    font-family: 'Playfair Display', san-serif
    @include adaptive-font-title()
    line-height: 1.33
    font-weight: 700
    text-align: center
    text-transform: capitalize
.section_padding
    padding: 125px 0
@media ( max-width: 992px )
    .section_padding
        padding: 80px 0
@media ( max-width: 768px )
    .section_padding
        padding: 40px 0
.subtitle
    @include adaptive-font-subtitle()
    line-height: 2.05
.section-img
    display: none
    @media( max-width: 992px )
        @include adaptive-section-img-mobile()
.section-desc
    @include adaptive-section-desc()
    @media ( max-width: 992px )
        display: none
// BLOCKS END


// HEADER START

.header
    position: relative
    z-index: 2
    background: $bg-color
    &__wrapper
        padding: 40px 0
        display: flex
        align-items: center
        justify-content: space-between
        transition: 300ms padding
    .padding-sm
        padding: 10px 0 
    &__logo
        display: flex
        align-items: center
    .logo
        &__link
            display: block
            max-height: 55px
        &__img
            width: 100%
            max-height: 55px
    &__list
        display: flex
        align-items: center
        gap: 80px
    &__link
        padding: 10px
        line-height: 1.75
        transition: 300ms color
        &:hover, &:focus
            color: $support-color  
    &__btns
        display: flex
        align-items: center
        gap: 40px
    .btns
        &__card
            display: flex
            position: relative
            align-items: center
            justify-content: center
            width: 70px
            height: 70px
            border-radius: 100%
            background: $main-color
            transition: 300ms background
            &:hover, &:focus
                background: $support-color
        .card
            &__counter
                display: block
                position: absolute
                padding: 3px
                top: 0
                left: 45px
                width: 28px
                height: 28px
                border-radius: 100%
                text-align: center
                font-size: 18px
                font-weight: 600
                color: $main-color
                background: $secondary-color
        &__hamburger
            padding: 15px
            display: block
            background: transparent
        .hamburger
            &__span
                display: block
                position: relative
                width: 20px
                height: 3px
                border-radius: 1px
                background: $main-color
                transition: 500ms all
                &::after, &::before
                    content: ''
                    display: block
                    width: 20px
                    height: 3px
                    position: absolute
                    top: 6px
                    left: 0
                    background: $main-color
                    transition: 500ms all
                &::before
                    top: -6px
        .active
            .hamburger__span
                transform: rotate(45deg)
                &::after
                    opacity: 0
                &::before
                    transform: rotate(-90deg)
                    top: 0
@media ( max-width: 992px )
    .header
        &__wrapper
            padding: 30px 0
            justify-content: space-between
        .logo
            &__link
                max-height: 45px
            &__img
                max-height: 45px
        &__list
            gap: 40px
        &__link
            font-size: 18px
        &__btns
            gap: 20px
        .btns
            &__card
                width: 60px
                height: 60px
            .card
                &__counter
                    left: 38px
                    width: 25px
                    height: 25px
                    font-size: 16px
@media ( max-width: 768px )
    .header
        &__menu
            display: none
@media ( max-width: 576px )
    .header
        &__wrapper
            padding: 15px 0
        .logo
            &__link
                max-height: 35px 
            &__img
                max-height: 35px  
        .btns
            &__card
                width: 40px
                height: 40px
            .card
                &__counter
                    left: 24px
                    font-size: 12px
                    padding: 2px
                    width: 18px
                    height: 18px
                &__img
                    width: 16px
                    height: 16px

// HEADER END


// PROMO START

.promo
    background: $bg-color
    &__wrapper
        display: flex
        align-items: center
        padding: 40px 0
    &__label
        margin: 0 0 25px 0
    &__title
        margin: 0 0 50px 0
        font-family: 'Playfair Display', sans-serif
        @include adaptive-font-promo-title()
        line-height: 1.12
        span
            color: $secondary-color
    &__subtitle
        margin: 0 0 100px 0
        line-height: 2.29
        font-weight: 500
    &__img
        display: block
        margin: 0 auto
        width: 100%
@media ( max-width: 1390px )
    .promo
        &__subtitle
            margin: 0 0 60px 0
@media ( max-width: 992px )
    .promo
        &__wrapper
            flex-direction: column-reverse
            gap: 40px
        &__text-wrapper
            display: flex
            flex-direction: column
            align-items: center
        &__subtitle
            margin: 0 0 50px 0
            text-align: center
        &__title
            margin: 0 0 30px 0
            text-align: center
@media ( max-width: 768px )
    .promo
        &__subtitle
            margin: 0 0 40px 0
@media ( max-width: 576px )
    .promo
        &__wrapper
            padding: 30px 0
            gap: 30px
        &__title
            margin: 0 0 20px 0
        &__subtitle
            margin: 0 0 20px 0 

// PROMO END    


// PARTNERS START

.partners
    &__title
        margin: 0 0 150px 0
    &__img-wrapper
        display: flex
        align-items: center
        justify-content: center
        flex-wrap: wrap
        gap: 120px
        img
            max-height: 55px   
@media( max-width: 992px )
    .partners
        &__title
            margin: 0 0 100px 0
        &__img-wrapper
            gap: 100px
            img
                max-height: 45px
@media( max-width: 768px )
    .partners
        &__title
            margin: 0 0 80px 0
        &__img-wrapper
            gap: 80px
            img
                max-height: 35px
@media( max-width: 576px )
    .partners
        &__title
            margin: 0 0 60px 0
        &__img-wrapper
            flex-direction: column
            gap: 50px

// PARTNERS END


// PRODUCTS START

.products
    &__wrapper
        display: flex
        flex-direction: column
        align-items: center
    &__label
        margin: 0 0 10px 0
    &__title
        max-width: 760px
        margin: 0 0 150px 0
    &__items-wrapper
        display: flex
        align-items: center
        justify-content: space-between
        gap: 40px
    &__item
        display: flex
        flex-direction: column
        align-items: center
        gap: 10px
        width: 350px
    .item
        &__img-wrapper
            display: flex
            align-items: center
            min-height: 220px
        &__number
            font-family: 'Playfair Display', sans-serif
            font-size: 60px
            font-weight: 700
            line-height: 1.33
            color: $secondary-color
            min-height: 80px
        &__title
            font-family: 'Playfair Display', sans-serif
            min-height: 55px
            font-weight: 500
            line-height: 2.29
        &__subtitle
            min-height: 105px
            line-height: 1.75
            text-align: center
        &__img
            width: 100%
@media ( max-width: 1299px )
    .products
        &__item
            width: 280px
@media ( max-width: 992px )
    .products
        &__title
            margin: 0 0 80px 0
        &__items-wrapper
            flex-direction: column
        .item
            &__img-wrapper
                min-height: 200px
            &__number
                font-size: 36px
                min-height: 100%
            &__title
                min-height: 100%
            &__subtitle
                min-height: 100%
@media ( max-width: 576px )
    .products
        &__title
            margin: 0 0 60px 0
        &__items
            max-height: 160px
            min-height: 160px
        &__subtitle
            font-size: 14px
        &__item
            width: 285px
        .item
            &__subtitle
                font-size: 14px

// PRODUCTS END


// SOLUTION START

.solution
    &__wrapper
        display: flex
        align-items: center
        justify-content: space-between
        gap: 20px
    &__text-wrapper
        display: flex
        flex-direction: column
    &__label
        margin: 0 0 10px 0
    &__title
        margin: 0 0 50px 0
        text-align: left
    &__subtitle
        margin: 0 0 70px 0
    &__img 
        display: block
        margin: 0 auto
        width: 100%
@media ( max-width: 992px )
    .solution
        &__wrapper
            flex-direction: column-reverse
            justify-content: center
        &__text-wrapper
            align-items: center
        &__subtitle
            text-align: center
            margin: 0 0 50px 0
        &__title
            text-align: center
            margin: 0 0 30px 0
@media ( max-width: 768px )
    .solution
        &__subtitle
            margin: 0 0 30px 0
        &__title
            margin: 0 0 30px 0

// SOLUTION END


// RECIEPES START

.reciepes
    &__wrapper
        display: flex
        flex-direction: column
        align-items: center
    &__title
        margin: 0 0 50px 0
    &__items-wrapper
        display: flex
        align-items: center
        justify-content: space-between
        gap: 20px
        transition: 300ms all
    &__btns
        margin: 0 0 150px 0
        display: flex
        align-items: center
        gap: 70px
    .btns
        &__btn
            font-size: 22px
            line-height: 2.05
            border: none
            padding: 10px
            background: transparent
            outline: none
            transition: 300ms color
            &:focus, &:hover
                color: $support-color       
        .active
            font-weight: 600
            line-height: 1.82
            border-bottom: 3px solid $main-color
            cursor: default
            &:focus, &:hover
                color: $main-color     
    &__item
        display: flex
        flex-direction: column
        align-items: center
    .item
        &__img-wrapper
            margin: 0 0 30px 0
        &__img
            display: block
            margin: 0 auto
            width: 100%
        &__title
            margin: 0 0 10px 0
            text-align: center
            font-weight: 500
            font-size: 36px
            text-transform: uppercase
        &__subtitle
            margin: 0 0 40px 0
            line-height: 1.75
            color: $support-color
            text-align: center   
        &__price
            margin: 0 0 13px 0
            font-size: 24px
            font-weight: 600
            text-align: center
            color: $secondary-color 
        &__btn
            display: block
            margin: 0 auto
            border: 2px solid $main-color
            background: transparent
            color: $main-color
            &:focus, &:hover
                background: $main-color
                color: $btn-color-text
    &__btn
        margin: 160px 0 0 0
.hide
    display: none
@media ( max-width: 1200px )
    .reciepes
        &__items-wrapper
            flex-wrap: wrap
            justify-content: center
            gap: 40px
        &__item
            flex-basis: 40%
@media ( max-width: 992px )
    .reciepes
        &__btns
            margin: 0 0 70px 0
            gap: 50px
        &__btn
            margin: 80px 0 0 0
@media ( max-width: 768px )
    .reciepes
        &__btns
            margin: 0 0 40px 0
            gap: 25px
        .btns
            &__btn
                font-size: 18px
        .item
            &__img-wrapper
                margin: 0 0 20px 0
            &__img
                max-height: 280px
            &__title
                margin: 0 0 10px 0
                font-size: 24px
            &__subtitle
                margin: 0 0 20px 0
                font-size: 18px 
            &__price
                margin: 0 0 10px 0
                font-size: 20px
@media ( max-width: 576px )
    .reciepes
        &__btns
            flex-wrap: wrap
            justify-content: center
            grid-area: 20px
        .btns
            &__btn
                font-size: 16px  

// RECIEPES END


// SKIN-ROUTINE START        

.skin-routine
    background: $bg-color
    &__wrapper
        display: flex
        align-items: center
        justify-content: space-between
        gap: 100px
    &__text-wrapper
        display: flex
        flex-direction: column
        width: 100%
    &__img
        display: block
        margin: 0 auto
        width: 100%
    &__title
        margin: 0 0 50px 0
        min-width: 650px
        text-align: left
    &__subtitle
        margin: 0 0 100px 0
    &__group-imgs
        display: flex
        align-items: center
        justify-content: space-between
        margin: -17% 0 0 0
    .group-imgs
        &__img
            display: block
            margin: 0 auto
            max-width: 30%
            width: 100%
            border: 4px solid $btn-color-text
@media ( max-width: 1366px)
    .skin-routine
        &__wrapper
            gap: 40px
        &__title
            min-width: 635px
@media ( max-width: 1299px)
    .skin-routine
        &__wrapper
            gap: 30px
        &__img-wrapper
            flex-basis: 50%
        &__text-wrapper
            flex-basis: 50%
        &__desc
            margin: 0 0 60px 0
@media ( max-width: 992px )
    .skin-routine
        &__wrapper
            flex-direction: column
            gap: 40px
        &__text-wrapper
            align-items: center
            justify-content: center
        &__subtitle
            margin: 0 0 60px 0
            text-align: center
        &__title
            margin: 0 0 30px 0
            max-width: none
            text-align: center
        .group-imgs
            &__img
                max-width: 144px
@media ( max-width: 768px )
    .skin-routine
        &__wrapper
            gap: 20px
        &__group-imgs
            display: none
        &__subtitle
            margin: 0 0 40px 0
        &__title
            margin: 0 0 20px 0


